<!-- <% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><%= link_to "Sign In", user_session_path %></li>
  <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
<% end %> -->

<h2>Entries</h2>
<ul>
  <% @entries.each do |entry| %>
  <li><%= link_to entry.day, entry_path(entry) %></li>
  <% end %>
</ul>

<%= link_to "New Entry", new_entry_path, id: "new_entry_link", remote: true %>
<hr>
<%= image_tag "yoda.jpg" %>
