<!-- <% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><%= link_to "Sign In", user_session_path %></li>
  <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
<% end %> -->

<h2><%= @entry.day %></h2>


<p><%= link_to "Add an Activity", new_entry_activity_path(@entry) %></p>


<% if @entry.activities.any? %>
  <h4>Here are the activities for <%= @entry.day %></h4>

  <ul>
    <% @entry.activities.each do |activity| %>
      <li>
        <%= activity.step %> |
        <%= activity.calorie %> |
        <%= activity.minute %> |
        <%= link_to "Edit Activity", edit_entry_activity_path(@entry, activity) %>
        <%= link_to "Delete Activity", entry_activity_path(@entry, activity), :data => {:confirm => "Are you sure you want to delete this activity?", :method => "delete"} %>
      </li>
      <% end %>
  </ul>
<% else %>
  <p>There are no activities yet!</p>
<% end %>

<hr>
<p>
  <%= link_to "Edit Entry", edit_entry_path(@entry), id: "edit_entry_link", remote: true %>
</p>
<p><%= link_to "Delete Entry", entry_path(@entry), :data => {:confirm => "Are you sure you want to delete this entry?", :method => "delete"} %></p>
<p>
  <%= link_to "Return to Entries", entries_path %>
</p>
