<%= render('layouts/errors', :object => @activity) %>

<%= form_for [@entry, @activity], remote: true do |f| %>
  <%= f.label :step %>
  <%= f.number_field :step, class: "form-control" %>
  <%= f.label :calorie %>
  <%= f.number_field :calorie, class: "form-control" %>
  <%= f.label :minute %>
  <%= f.number_field :minute, class: "form-control" %>
  <br>
  <p><%= f.submit %></p>
<% end %>
